@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}

.footer {
    width: 100%;
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);
}

.footer-conteiner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
}

.contato-creditos {
    color: white;
    font-family: 'Quando', serif;
    font-size: 15px;
    padding: 10px 0;
}

.social{
    text-align:center;
    color:white;
}

h4{
    margin-bottom:10px;
}

.icons {
    display: flex;
    gap: 25px;
}



@media (max-width:1200px) {
    .contato-creditos {
        text-align: center;
    }

    .footer-conteiner {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

}

.links1,
.links2, .links3 {
    height: 40px;
    width: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}

.links:hover {
    color: rgb(208, 255, 0);
}

.links1 {
    background-image: url(../img/github2.png);
}

.links2 {
    background-image: url(../img/linkedin.png);
}

.links3 {
    background-image: url(../img/instagram.png);
}

.transparente {
    transition: ease-in-out 0.3s;
}

.transparente:hover {
    opacity: 0;
}