body {
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);

}


#projetos {
    padding-top: 20px;
}

.projetos h2, a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

.repos-section {
    text-align: center;

}

#repos ul {
    width: 1000px;
}

#repos li {
    width: 500px;
}


.repos-item {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    color: white;
    margin: 5px 0;
    padding: 20px 50px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    background: url(https://d11wkw82a69pyn.cloudfront.net/siteassets/images/r20/r20_21_05_2019_1440x450.jpg);
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;

}

.repos-item:hover {
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
}


.repos-item:active {
    border-color: #088C19;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 3px black;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #088C19;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#github-a:hover{
    color:white;
}

@media (max-width:1200px) {
  

    #projetos {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .projetos-itens {
        flex-direction: column;
    }
    
@media (max-width:375px) {
    #repos li {
        width: 90%;
    }
    

    .projetos-itens {
        flex-direction: column;
    

}
}
}
